<link href="/assets/home.css" rel="stylesheet">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="navbar-form navbar-right">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          
          <li class="field">
            <%= f.email_field :email, autofocus: true, placeholder: "email" %>
            <%= f.password_field :password, autocomplete: "off", placeholder: "password" %>
          </li>
          <li class="actions">
            <%= f.submit "Log in" %>
          </li>
        
          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
          
        <% end %>
          <li class="actions">
          <%= render "devise/shared/links" %>
          
      </ul>
      <!--
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
      -->
      
    </div><!--/.navbar-collapse -->
  </div>
</nav>


